/* body{
    background-color: #34495e;
} */

.startModal{
    position: absolute;
    top:0;
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0,0,.5);
}
.startModal---Hide{
    display: none;
}
#startWindow {
    background-color: white;
    padding-bottom: 5%;
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start{
    width: 30%;
    height: 15%;
    font-size: xx-large;
}

.buttonContainer {
   display: flex;
   align-items: center;
   justify-content: center;
}

.headingCountainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#heading{
    margin-top: 5%;
    font-size: 200%;
}
 .score {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;
    font-size: 75px;
    height: auto;
    width: auto;

 }

.theSquares{
    display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: 600px;
	height: 600px;
	margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;
}

.square{

    border: 6px solid #2c3e50; 
    border-radius: 2px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.winnerModal{
    display: none;
}
.winnerModal---Show{
    position: absolute;
    top:0;
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0,0,.5);
}
#popUpWindow {
    background-color: white;
    padding-top: 5%;
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
#trophy{
    height:30%;
}
#winner{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid; */
    font-size: 700%;
    width: 50%;
    height: 30%;
}
#newGame{
    width: 30%;
    height: 15%;
    font-size: xx-large;
}